@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.google.com/specimen/Sanchez?query=Sanchez');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Love Ya Like A Sister';

}

textarea {
  font-family: 'Sanchez';

}

.textarea-container { 
  position: relative; 
} 
.textarea-container textarea { 
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
}

.textarea-container input { 
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
}


.textarea-container button { 
  position: absolute; 
  top: 0; 
  right: 0; 
}

body {
  background-color: #FFC75F;
  font-family: 'Sanchez';
}

h4 {
  font-family: 'Sanchez';
}

h5 {
  font-family: 'Love Ya Like A Sister';
}

.navbar {
  background-color: #FFC75F;

}


